

.footer {
    text-align: start;
    background: #152F4F;
    color: white;
    width: 100%;
    font-style: normal;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links li a{
    color: white;
    transition: color .2s;
}

.footer .links li a:hover{
    text-decoration: none;
    color:#4180CB;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p{
    border-top:1px solid rgba(255,255,255,.1);
}
